.slides-wrapper {
    width: 90vw;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
    width: 100%;
    padding: 20px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-pagination-bullet {
    background: var(--yellow) !important;
}

.pokemon-wrapper {
    width: 70vw; 
    height: 250px;
    background-color: white;
    border-radius: 10px;
}

.pokemon-wrapper h2 {
 text-transform: uppercase;
 font-size: 30px;
 color: var(--red);
}

.pokemon-wrapper h3 {
    font-size: 20px;
    color: var(--yellow);
}

.imgs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgs-wrapper img {
    flex: 1 0 20%;
    max-width: 20vw;
}

.choose-pokemon-btn {
    font-size: 16px;
    padding: 0 5px;
    margin-bottom: 10px;
}