.home{
    background-color: var(--color-secondary)
}

.text-red{
    color: var(--color-text-2);
}

/*============error page==============*/
.creepy-pasta{
    height: auto;
    width: 70%;
}
.scary-text{
    font-size: x-large;
    text-shadow: 2px 2px #c41c1c;
}


/* */
.pokemon-heading{
    color: white;
}

.pokemon-heading2{
    color: yellow;
}

.team-name{
    padding: 10px 0;

}

.card-text{
    display:flex;
    flex-direction: column;
}

.card-title{
    font-size:16px;
    padding: 4px 0;
}

.form-addteam{
    margin:20px 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.pokemon{
    margin: 20px 0;
    border: 2px solid black;
    padding: 4px;
    border-radius: 5px;
}

.input-bar {
  font-size: 20px;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px
}